@use "sass:map";
@use "sass:color";

/* Classes */

.bg-dark-transparent {
    background-color: map-get($my-custom-colors, "dark-transparent");
}

.small-icon {
    width: map-get($icons-size, "small");
}

.medium-icon {
    width: map-get($icons-size, "medium");
}

.fit-content {
    width: fit-content;
}

/* Gerais */
 
body {
    background-color: color.scale($color: #565454, $blackness: 30%);
}

h5 {
    font-size: 1em;
}

p {
    font-size: 0.9em;
}

.vr { /* divisor vertical */
    display: none;
}

/* Cards das residências */

.housing-card-container {
    max-width: 15em;
}

@media screen and (max-width: 500px) {
    .housing-card-container {
        min-width: 10rem;
        font-size: 0.8rem;
    }

}

@media screen and (min-width: 501px) {
    .housing-card-container {
        min-width: 12rem;
    }
}

@media screen and (min-width: 992px) {
    .vr { /* divisor vertical */
        display: block;
    }
}

