@use "sass:map";
/* Minhas Variáveis */

$dark-transparent: #00000067;
$lime: #5de75d;
$small-icon: 1.1em;
$medium-icon: 1.5em;

/* Variáveis Modificadas */

$primary: #4D3A3A;
$secondary: #6B5151;
$info: #74A281;

$nav-link-padding-x: 0.1rem;

$vr-border-width: 2px;

/* maps */

$my-custom-colors: (
    "dark-transparent": $dark-transparent
);

$icons-size: (
    "small": $small-icon,
    "medium": $medium-icon
);
