
/* Carrossel */

.carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    border-radius: 500%;
}

/* Em Destaque */

section.featured {
    .card {
        padding-left: 0.5rem;
        padding-right: 0.5rem;

        span {
            font-size: 0.9em;
        }

        img.icon {
            width: 1em;
        }
    }
}

/* Sobre Nós */

section.about {
    .card {
        padding: 0em;
    }
}

img.card-icon {
    width: 4em;
}

@media screen and (max-width: "576px") {
    /* Carrossel */
    .showcase-article {
        border-radius: 0em 0em 9em 9em;
        overflow: hidden;
    }

}

@media screen and (min-width: 992px) {
    .vr { /* divisor vertical */
        display: block;
    }

    .img-desc {
        font-size: 1.2rem;
    }
}
